.entry-set{
  top:-40px;
  opacity: 0;
  will-change: top, opacity;
  transition: top 450ms ease-in, opacity 250ms ease;

}
.entry-set-visible {
  opacity: 1;
  top: 0;
}

.pre-enter {
  opacity:0;
  will-change: opacity;
  transition: opacity 3000ms ease-in;

}

.entered {
  opacity:1;
}

.centre-container{
  padding-top: 5%;
  height: auto;
  text-align: center;

}


.circle-profile {
  height: 130px;
  width: 130px;
  border-radius: 3%;
  border-style: solid;
}


.subtitle {
  text-align: center;
  position: relative;
  display: block;
  z-index: 3;

  width: 100%;

}

.card-box{
  width:50%;
  margin-left: 25%;
  margin-bottom: 20px;

}
