
.app-menu {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 4;
  top: 50px;
  left: 0;
  background: -moz-linear-gradient(top, rgba(103,58,183,0.96) 68%, rgba(112,91,150,0.96) 85%, rgba(120,120,120,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(103,58,183,0.96) 68%,rgba(112,91,150,0.96) 85%,rgba(120,120,120,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(103,58,183,0.96) 68%,rgba(112,91,150,0.96) 85%,rgba(120,120,120,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5673ab7', endColorstr='#00787878',GradientType=0 );
  overflow-x: hidden;
  padding-top: 60px;
  will-change: width;
  transition: width 0.4s ease-in-out;
}

.showMenu {
  width: 250px;
  box-shadow: 2px 3px 6px 0px darkslategrey;
}

.link-contrast{
  color: orange;
  font-weight: 500;
  font-size: large;
}
