<div class="app-menu" [class.showMenu]="menuVisible" (click)="toggleMenu()">

  <nav class="mdl-navigation" style="display: block;">

    <div class="mdl-layout-spacer"></div><a class="mdl-navigation__link link-contrast" routerLink="/">Home</a>
      <div class="mdl-layout-spacer"></div><a class="mdl-navigation__link link-contrast" routerLink="/Login">Login</a>
      <div class="mdl-layout-spacer"></div><a class="mdl-navigation__link link-contrast">Some Action</a>
      <div class="mdl-layout-spacer"></div><a class="mdl-navigation__link link-contrast">Some Action</a>
      </nav>
</div>
