
.app-menu {
  height: 100%;
  width:0;
  position: fixed;
  z-index: 4;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.showMenu {
  width: 250px;
  box-shadow: 2px 3px 6px 0px darkslategrey;
}

a {
  display: block;
}
