.header-bar {
  height: 50px;
  width: 100%;
  background-color: deepskyblue;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 2px 6px 0px darkslategrey;
}

.hamburger {
  width: 20px;
  height: 20px;
  padding-top: 0px;

}

div.hamburger {
  max-height: 50px;
  max-width: 50px;
  width: 30px;
  height: 30px;
  padding: 0px 5px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  background: url("../assets/menu-alt-512.png") no-repeat center center;
  background-size: contain;
}

span.title {
  font-family: 'Roboto', sans-serif;

  padding-bottom: 10px;
  height: inherit;
  line-height: 50px;
  font-size: 40px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 40px;
}

.content{
  overflow: auto;
  height: 100%;
  width: 100%;
}
