<div class="entry-set mdl-card mdl-shadow--4dp card " [class.entry-set-visible]="visibleSubtitle" >
  <div class="mdl-card__media"><img src="http://www.gannett-cdn.com/-mm-/5a0189da7928533579eac07685a88c49aa12da3b/c=0-306-3370-2840&r=x408&c=540x405/local/-/media/2015/09/03/Rochester/Rochester/635768800481721688-Bobcat-Thinkstock-.jpg" width="173" height="157" border="0"
                                    alt="" style="padding:10px;">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
    The Sky Tower is an observation and telecommunications tower located in Auckland,
    New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
    in the Southern Hemisphere.
  </div>
</div>
<div class=" entry-set mdl-card mdl-shadow--4dp card" [class.entry-set-visible]="visibleSubtitle">
  <div class="mdl-card__media"><img src="http://www.gannett-cdn.com/-mm-/5a0189da7928533579eac07685a88c49aa12da3b/c=0-306-3370-2840&r=x408&c=540x405/local/-/media/2015/09/03/Rochester/Rochester/635768800481721688-Bobcat-Thinkstock-.jpg" width="173" height="157" border="0"
                                    alt="" style="padding:10px;">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
    The Sky Tower is an observation and telecommunications tower located in Auckland,
    New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
    in the Southern Hemisphere.
  </div>
</div>
<div class=" entry-set mdl-card mdl-shadow--4dp card" [class.entry-set-visible]="visibleSubtitle">
  <div class="mdl-card__media"><img src="./assets/placeholder.png" width="173" height="157" border="0"
                                    alt="" style="padding:10px;">
  </div>
  <div class="mdl-card__supporting-text">
    Auckland Sky Tower, taken March 24th, 2014
  </div>
  <div class="mdl-card__supporting-text">
    The Sky Tower is an observation and telecommunications tower located in Auckland,
    New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
    in the Southern Hemisphere.
  </div>
</div>
